#fullname{
    font-size: large;
}
#phno{
    font-size: large;
}
#email{
    font-size: large;
}
button{
   
    font-size: large;
    
   
   
}
label{
    font-size: large;
    font-weight: bold;
}
h2{
    display:flex;
    justify-content: center;

}
body{
    background-color: #39FF14;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
   
    color: #FF69B4;

}
 