#fname{
    background-color: lightskyblue;
    }
    #lname{
        background-color: rgb(111, 196, 196);
        }
.ClassForm{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    background-color: purple;
}